.todo {
  &__counter {
    .counter {
      border: 1px solid #555;
      color: #393939;
      border-radius: 4px;
      font-size: 1em;
      font-weight: 300;
      padding: 0.6em 1.2em;
      text-align: center;
      transition: color .35s ease;
      strong {
        font-weight: 600;
      }
    }
  }
}